<h1>Listing quizes</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quizes.each do |quize| %>
  <tr>
    <td><%= link_to 'Show', quize %></td>
    <td><%= link_to 'Edit', edit_quize_path(quize) %></td>
    <td><%= link_to 'Destroy', quize, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quize', new_quize_path %>
