<!DOCTYPE html>
<html>
<head>
  <title>Encuesta</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1 id="title">Encuesta!</h1>
    <div class="row">
      <div id="app" class="span6 offset3">
      </div>
    </div>
  </div>
</body>
</html>
